nav.navigation ul li {
	    float: right;
	    list-style: none;
	    margin: 0;
	    padding: 0.5em 2em;
 }

 nav.navigation   .camera-side {
   margin: 1.5rem;
 }

 nav.navigation .server-connection-component {
padding: 1em;
 }

 nav.navigation .server-connection-component .status {
    text-align: center;
}

nav.navigation .server-connection-component .status-connected {
    background: lightgreen;
}

nav.navigation .server-connection-component .status-unregistered {
    background: lightsalmon;
}
nav.navigation .server-connection-component .status-invalid_registration {
    background: red;
    color: white;
}

nav.navigation .server-connection-component .status-connecting {
    background: yellow;
}
